body {
  font-family: Avenir, sans-serif;
  font-weight: bold;
  margin: 2rem;
}

h3 {
  font-weight: 100;
  color: #555;
  margin: 0.4rem 0;
}

svg {
  border: 1px solid #ccc;
}

button {
  outline: none;
  color: #555;
  border-color: #eee;
  background: #fefefe;
  padding: 3px 10px;
  font-family: Avenir;
  transition: all 200ms;
}

button:hover {
  background: #f7f7f7;
}

button:focus {
  background: #e7e7e7;
}
