*.iml
*.m4a
target
.idea
conf/*.properties
node_modules
nbproject
npm-debug.log
.DS_Store
runtime
symlinks
# IntelliJ
/Paths/Backend_Dev/Java/Java Fundamentals - The Java Language/java-fundamentals-language/2/before/HelloWorld/build/
/Paths/Backend_Dev/Java/Java Fundamentals - The Java Language/java-fundamentals-language/2/before/Organized/build/
/Paths/Backend_Dev/Java/Java Fundamentals - The Java Language/java-fundamentals-language/2/after/HelloNetBeans/dist/
/Paths/Backend_Dev/Java/Java Fundamentals - The Java Language/java-fundamentals-language/2/after/HelloNetBeans/build/
/Paths/Backend_Dev/Java/Java Fundamentals - The Java Language/java-fundamentals-language/3/before/mathorder_1/build/
/Paths/Backend_Dev/Java/Java Fundamentals - The Java Language/java-fundamentals-language/3/before/typeconversion_1/build/