<div class='panel panel-primary' *ngIf='product'>
    <div class='panel-heading'>
        <span>{{pageTitle + ': ' + product.productName}}</span>
        <span style="float: right;cursor: pointer;"><a style="color: white;" (click)="backClicked()">Back</a></span>
    </div>
    
    <div class='panel-body'>
    	<li>Product ID: {{ productId }}</li>
    	<li>Product Code: {{ product.productCode }}</li>
    	<li>Release Date: {{ product.releaseDate }}</li>
    	<li>Description: {{ product.description }}</li>
    	<li>Price: {{ product.price }}</li>
    	<li>Star Rating: {{ product.starRating }}</li>
	</div>
</div>