svg {
  border: 1px solid #ccc;
}

text {
  font-family: 'Avenir', sans-serif;
}

.axis .domain {
  stroke: #bbb;
}

.axis .tick line {
  stroke: #bbb;
  stroke-width: 0.5;
  stroke-dasharray: 4, 2;
}
