<article>

  <div class="template">
    Here is {{vehicle ? vehicles[2].name : "No Car!"}}!
    <h4>{{character.side}} details</h4>

    <pre>{{character | json}}</pre>

    <div class="row" [class.selected]='isSelected'>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="nametext">Name</label>
        <input type="text" id="nametext" class="mdl-textfield__input">
      </div>

      <div class="row">
        <a href="{{character.link}}" target="_blank">
          <!-- <img src="{{character.imageUrl}}" style="width:50px"> -->
          <img [src]="character.imageUrl" style="width:50px"> 
        </a>
      </div>
    </div>

    <div>
      <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised msl-js-ripple-effect mdl-button"
        [attr.aria-label]='selectLabel'>
        Select
      </button>
    </div>

  </div>
  
</article>
