@media only screen and (min-width: 64.25em) {

/*-----INSIDE THE WRAPPERS-----*/
	header, nav, main, footer {
		max-width: 1028px;
		margin: 0 auto; /*centers everything on the page*/
	}

/*-----HEADER -----*/
	header {
		position: relative;	/*needed so the contents can be displayed absolute*/
		padding-top: 2em;



















		
		padding-bottom:1em;
	}
	
	
	
	
	
	
	
	
	
	
	
	

}/* end query */
	


