/* General */

body {
  display: flex;
}

svg,
.selected-container {
  border: 1px solid #ccc;
}

body,
text {
  font-family: 'Avenir', sans-serif;
}

.axis .domain {
  stroke: #bbb;
}

.axis .tick line {
  stroke: #bbb;
  stroke-width: 0.5;
  stroke-dasharray: 4, 2;
}

.axes-labels text {
  font-size: 0.6em;
  fill: #444;
}

/* Film list */

.selected-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.selected-header {
  background: #f0f0f0;
  color: #777;
  padding: 0.5rem 2rem;
  text-align: right;
}

.selected-body {
  overflow: auto;
  font-size: 0.8em;
  cursor: default;
}

.selected-title {
  font-weight: bold;
}

.selected-element {
  margin: 0.5em;
  padding: 0.5em;
  transition: background-color 200ms ease;
}
.selected-element:hover {
  background-color: #f0f0f0;
}
